.embed-container {
    position: relative;
    max-width: 100%;
}

.embed-container iframe, .embed-container object {
    position: relative;
    width: 80%;
    height: 450px;
}

small {
    position: absolute;
    z-index: 40;
    bottom: 0;
    margin-bottom: -15px;
}

.datawrapper_Home_container {
    position: relative;
    max-width: 100%;
}
  
.datawrapper_Home_container iframe {
    position: relative;
    width: 1015px;
    height: 230px;
}