.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}
.nav_links {
  float: left;
  padding: 4px;
}

.inactive_link {
  background-color: green;
}

.active_link {
  background-color: red;
};
