.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
}

.nav_links {
  float: left;
  padding: 20px 10px;
}

.img_1 {
  float: left;
  height: 58px;
  background-color: lightgreen;
}

.inactive_link {
  background-color: lightblue;
}

.active_link {
  background-color: red;
  color: yellow;
};

.embed-container {
  position: relative;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container iframe {
  position: relative;
  width: 80%;
  height: 400px;
  margin: auto;
}

.small {
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}